<ion-view title="{{show.name}}">
    <ion-content class="has-header">
        <div class="list list-inset">
            <div class="item item-avatar">
                <img src="{{show.image_url}}">
                <p>{{show.description}}</p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="{{show.web_url}}">
                    <i class="icon ion-link"></i>
                    Show Web Site
                </a>
            </div>
        </div>

    </ion-content>
</ion-view>
